.app-container {
    height: calc(100vh - 70px);
}

.editor-container, .viewer-container {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resize-handle {
    background-color: #e9ecef;
    width: 10px;
    cursor: col-resize;
}

.bpmn-container {
    position: relative;
    height: 100%;
}

.bpmn-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
